<div class="form-container">
  <div>
    <h1>Endereço</h1>
    <div>
      <label for="cep" >Cep:</label>
      <input type="text" id="Cep" [(ngModel)]="cep" (input)="(onCepChange())" maxlength="8" />
    </div>
    <div>
      <label for="Street">Rua:</label>
      <input type="text" id="Street" [(ngModel)]="street" />
    </div>
    <div>
      <label for="number">Número:</label>
      <input type="text" id="number" [(ngModel)]="number" />
    </div>
    <div>
      <label for="Complement">Complemento:</label>
      <input type="text" id="Complement" [(ngModel)]="complement" />
    </div>
    <div>
      <label for="neighborhood">Bairro:</label>
      <input type="text" id="neighborhood" [(ngModel)]="neighborhood" />
    </div>
    <div>
      <label for="City">Cidade:</label>
      <input type="text" id="City" [(ngModel)]="city" />
    </div>
    <div>
      <label for="State">Estado:</label>
      <input type="text" id="State" [(ngModel)]="state" />
    </div>
    <button>Enviar</button>
  </div>
</div>
<div *ngIf="loading" class="loading">Carregando...</div>
