.form-container {
  > div {
    max-width: 600px;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    flex-direction: column;
    padding: 40px 16px;
    > h1{
      font-weight: 500;
      grid-column: span 2;
      color: #6a6a6a;
    }
    > div {
      display: flex;
      gap: 8px;
      flex-direction: column;
      > label {
        color: #6a6a6a;
        font-size: 14px;
      }
      > input {
        width: 100%;
        padding: 14px;
        font-size: 16px;
        border: 1px solid #c0c0c0;
        border-radius: 5px;
        outline-color: #c0c0c0;


        &:focus {
          transition: 0.4s;
          border: 1px solid #89cff0;
          outline: 1px solid #89cff0;


        }
      }
    }
    > button {
      outline: none;
      box-shadow: none;
      color: #fff;
      background-color: #3457d5;
      border: 1px solid #3457d5;
      padding: 16px 20px;
      text-align: center;
      border-radius: 5px;
      transition: 0.5s;
      margin-top: 8px;
      cursor: pointer;
      grid-column: span 2;
      font-size: 16px;
      &:hover {
        background-color: #0039a6;
      }
    }
  }
}
.loading{
  height: 100vh;
  top: 0;
  z-index: 9;
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  width: 100%;
  color: #030303;
 display: flex;
 justify-content: center;
 align-items: center;
}
